* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('img/peakpx.jpg');
  }
  
  
  .chat-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .chat-header {
    padding: 1rem;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: scroll;
  }
  .chat-messages::-webkit-scrollbar { 
    display: none; 
}
  
  .message {
    display: flex;
    margin-bottom: 1rem;
  }
  

  
  .message.incoming {
    margin-left: 10px;
    justify-content: flex-start;
  }
  
  
  .message .text {
    background-color: #fdfdfd;
    
    border-radius: 1rem;
    max-width: 70%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.message .text1{
      background-color: #bdd6e9;
      padding: 0.5rem;
      border-radius: 1rem;
      max-width: 80%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 0px solid gray;
    padding: 0.5rem;
  }
  
  .chat-input input {
    flex-grow: 1;
    margin-right: 0.1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 1.5rem;
    background-color: #ddd;
    outline-width: 0px;
  }

  #dispframe{
    --bs-aspect-ratio: 150%;
    margin-top: 0px; /* Adjust the top navbar height */
    margin-bottom: 15px; /* Adjust the bottom navbar height */
    padding: 0px; /* Add padding for content spacing */
    height: calc(100vh - 120px);
  }
  
  .chat-input button {
    background-color: #fff;
    width: 3.5rem; ;
    color: rgb(8, 30, 155);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .btn {
    background: #afb0b3;
    color:white;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #afb0b3;
    position: relative;
    width:50%;
    height:1.5rem;
    font-size: 15px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-left: 1px solid #afb0b3;
  }
  
  .btn:after {
    content: "";
    background: #0766AD;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .cpylabel{
    color:#0766AD;
    text-align: center;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #afb0b3;
    width: 50%;
    cursor: pointer;
    outline: none;
    border-top-left-radius: 1rem;
  }

  #cpybtn{
    background:white;
    color:#0766AD;
    margin-top: 0px;
  }

  #res_msg{
    padding: 0.5rem;
  }

  .header {
    background: #0766AD;
    color: #f1f1f1;
    height: 55px;;
  }
  #gSearch{
    display: none;
  }
  textarea {
    display: none;
    border: none;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
    resize: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a div {
    padding: 10px;
  }
  

 